project:
  type: website
  output-dir: docs

website:
  title: "Pete Benbow"
  open-graph: true # https://quarto.org/docs/websites/website-tools.html#open-graph
  page-footer: 
    right: "Made with Quarto" 
    background: "#0f1012"
    foreground: "#ffffff"
    
  navbar:
    right:
      - text: Home
        href: index.qmd
      - sidebar:projects
      - text: CV 
        href: cv.qmd 
        
  sidebar:
    - id: projects
      title: "Projects"   
      style: "docked"
      background: light
      collapse-level: 2
      contents: 
      - text: Power BI 
        href: projects/powerbi.qmd 
      - text: R
        href: projects/r.qmd
      - text: Home Lab
        href: projects/homelab.qmd

format:
  html:
    backgroundcolor: "#e6e6e6" 
    fontcolor: "black"
    linkcolor: "black"
    mainfont: "Atkinson Hyperlegible"
    fontsize: 20px
    theme: [cosmo, styles.scss]
    
